@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
}

body {
      background-color: black;
}

header {
      color: white;
}

.hamburger {
      display: none;
}

nav {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.nav-brand {
      color: #E6533C;
      font-size: 2.25rem;
      font-style: italic;
      font-weight: 800;
}

nav ul {
      font-size: 1.2rem;
      list-style: none;
      display: flex;
      border-radius: 39px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      padding: 1px;
}

nav ul>li {
      padding: 7px 20px;
}

.nav-container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 200px;
}

.nav-texts {
      display: flex;
      flex-direction: column;
      gap: 30px;
}

.nav-tittle {
      font-size: 4.9rem;
      font-weight: 900;
      line-height: 120%;
      margin: 0;
}

.nav-tittle>.shape {
      font-size: 4.9rem;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
      font-style: italic;
}

.nav-description {
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.3px;
      opacity: 0.5;
}

.buttons {
      display: flex;
      gap: 20px;
}

.btn-text {
      font-size: 1.2rem;
      color: white;
      font-weight: 600px;
      line-height: 120%;
      margin: 0;
}

.btn {
      border-radius: 46px;
      background: #E6533C;
      font-weight: 600px;
}

.btn-primary {
      background-color: tomato;
      padding: 18px 40px;
      border-radius: 50px;
      border: none;
}

.btn-second {
      padding: 18px 40px;
      border-radius: 50px;
      border: 1px solid white;
      background-color: black;
}

/* starts here nav image  */

.nav-image {

      position: relative;
}

.image-texts,
.image-texts-2 {
      position: absolute;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.10);
      background: rgba(255, 255, 255, 0.10);
      backdrop-filter: blur(10px);
      padding: 15px;
      flex-shrink: 0;
      width: auto;
}

.image-texts {
      display: flex;
      align-items: center;
      gap: 15px;
      bottom: 10%;
      left: 5%;
}

.image-texts-2 {
      top: 15%;
      left: 45%;
}

.ball {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ff900e;
}


/* <!-- ends heree --> */
.fat-tittle {
      color: white;
      font-size: 3rem;
      font-weight: 900;
      line-height: 120%;
      margin: 0;
}

.image-texts h3,
p,
.image-texts-2 h3,
p {
      margin: 5px 0px;
}

.ball {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: tomato;
}

.section-one,
.section-two,
.meet-team,
.section-four,
.footer-section {
      color: white;
      width: 80%;
      margin: 80px auto;
}

.section-one {
      text-align: center;

      h3 {
            margin: 15px 0;
      }

      .habits-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
      }

      .habit {
            margin-top: 50px;

            img {
                  border-radius: 50%;
                  margin-bottom: 30px;
            }
      }
}

/* section two starts */
.run {
      padding: 30px 50px;
      border-radius: 18px;
      background: #222;
      display: grid;
      align-items: center;
      gap: 10%;
      grid-template-columns: repeat(2, 1fr);

      .run-exercise>p {
            margin-top: 15px;
            margin-bottom: 30px;
      }

      .run-img img {
            width: 100%;
            border-radius: 18px;
      }
}

/* section three starts */
.bmi-calculator {
      color: white;
      width: 60%;
      margin: 80px auto;
}

.section-three {
      background: #222;
}

.section-three-child {
      display: flex;
      gap: 100px;
      width: 80%;
      margin: 0 auto;
      color: white;
}

.chart-table {
      width: 70%;

      h4 {
            font-size: 1.7rem;
            font-weight: 900;
            line-height: 120%;
      }

      table,
      tr,
      th,
      td {
            border: 1px solid gray;
            padding: 15px 25px;
            text-align: start;

            td {
                  opacity: 0.5;
            }
      }

      table {
            border-collapse: collapse;
      }
}

.calculator {
      margin-bottom: 50px;
      width: 100%;

      h4 {
            font-size: 1.7rem;
            font-weight: 900;
            line-height: 120%;
            margin-bottom: 15px;
      }

      .input-forms {
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
            margin: 34px auto;

            .last-form {
                  grid-column: span 2;
            }

            input {
                  padding: 20px 20px;
                  border-radius: 8px;
                  border: none;
                  background: rgba(255, 255, 255, 0.10);
            }
      }

      input::placeholder {
            font-size: 1rem;
            font-weight: 400;
            line-height: 137.5%;
      }
}

/* section four start here  */
.meet-team {
      text-align: center;
      margin-bottom: 50px;

      h3 {
            margin-bottom: 15px;
      }
}

.team {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      height: 272px;
      border-radius: 18px;
      border-radius: 18px;

      h4 {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 900;
            line-height: 120%;
      }
}

.team-one {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer1.png") lightgray 50%;
      background-size: cover;
}

.team-two {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer2.png") lightgray 50%;
      background-size: cover;
}

.team-three {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer3.png") lightgray 50%;
      background-size: cover;
}

.team-four {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer4.png") lightgray 50%;
      background-size: cover;
}

.team-five {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer5.png") lightgray 50%;
      background-size: cover;
}

.team-six {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%), url("../images/trainer6.png") lightgray 50%;
      background-size: cover;
}

.team-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px;
      border-radius: 18px;
      background: rgba(255, 255, 255, 0.10);
}

/* extra section */
.our-facilities {
      color: white;
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
      line-height: 120%;
}

.extra-gym-section {
      margin-top: 100px;
      background-color: #111111;
      border: 3px solid #222;
      ;

}

.extra-sect {
      width: 80%;
      margin: 0 auto 40px;
      display: flex;
      justify-content: space-between;
      gap: 60px;
}

.card {
      position: relative;
      width: 100%;
      background: #222;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.6) inset, -10px -10px 10px rgba(255, 255, 255, 0.2) inset;
}

.card-image img {
      width: 100%;
      height: 200px;
      object-fit: cover;

}

.card-content {
      padding: 30px;
      color: #fff;
}

.card-content h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
}

.card-content p {
      margin-bottom: 20px;
}

.btn-primary:hover {
      background-color: gray;
}



/* footer section starts here */
footer {
      background: rgba(255, 255, 255, 0.10);
}

.footer-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: flex-end;
      margin-bottom: 20px;

}

.footer-p {
      text-align: center;
      color: white;
      margin-bottom: 30px;
}

.service {
      h3 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 120%;
      }
}

hr {
      border: none;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.10);
      width: 80%;
      margin: 30px auto;

}

.service p {
      list-style: none;
      color: rgba(255, 255, 255, 0.50);
      font-size: 1.43rem;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 20px;
}

.footer-brand {
      margin-bottom: 20px;
      color: #E6533C;
      font-size: 4.37rem;
      font-style: italic;
      font-weight: 800;
      line-height: 120%;
}
/* responsive  styles */
@media screen and (max-width:576px) {
      nav>ul {
            display: none;
      }
      .hamburger {
            display: block;
      }
      .nav-container {
            flex-direction: column;
            gap: 20px;
      }
      .btn-second,
      .btn-primary {
            padding: 15px 25px;
      }
      .descript {
            font-size: 0.6rem;
      }
      .image-texts,
      .image-texts-2 {
            position: absolute;
      }
      .image-texts {
            bottom: 10%;
            left: 5%;
            right: auto;
            transform: translateX(0);
      }
      .image-texts-2 {
            top: 20%;
            right: 5%;
            left: auto;
            transform: translateX(0);
      }
      .nav-image {
            margin-bottom: 20px;
      }
      /* header part end */
      .section-one {
            margin-top: 0;
      }
      .section-one {
            .habits-container {
                  margin-top: 40px;
                  grid-template-columns: repeat(1, 1fr);
                  gap: 10px;

                  .habit {
                        margin-top: 20px;
                  }
            }
      }
      .fat-tittle {
            font-size: 2rem;
      }
      /* .section-two */
      .run {
            grid-template-columns: repeat(1, 1fr);
            padding: 30px 30px 80px 30px;
      }

      .run-exercise {
            display: flex;
            flex-direction: column;
            width: 80%;
      }
      /* section-three */
      .bmi-calculator {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 30px;
      }
      .section-three-child {
            flex-direction: column;
            gap: 20px;
            .chart-table {
                  width: 100%;
            }
      }
      /* section four */
      .team-container {
            grid-template-columns: repeat(1, 1fr);
      }
      /* extra sectton */
      .extra-sect {
            flex-direction: column;
            align-items: center;
      }
      .card {
            width: 90%;
      }
      /* footer section */
      .footer-section {
            grid-template-columns: repeat(1, 1fr);
            justify-items: flex-start;
      }
}